.dynamic-table {
    border-collapse: collapse;
    overflow: auto;
    /* width: 100%; */
    /* table-layout: fixed; Ensures all columns are the same width */
}
.dynamic-table th, .dynamic-table td {
    border: 1px solid #000;
    padding: 0;
    text-align: center;
    position: relative; /* Needed for absolute positioning of the input */
}

.table-container {
    overflow:scroll;
    width: 100%;
}    

.table-input {
    width: 100%; /* Makes the input field fill the width of the table cell */
    height: 100%; /* Makes the input field fill the height of the table cell */
    box-sizing: border-box; /* Ensures padding and border are included in the width/height */
    border: none; /* Removes the default input field border */
    text-align: center;
}
.table-input:focus {
    outline: none; /* Removes the focus outline to give a clean look */
}
.dynamic-table td .table-input.selected {
    background-color: #d1e0e0; /* Highlight selected cells */
}
.dynamic-table td {
    height: 40px; /* Set a fixed height for cells */
}

.dynamic-table th, .dynamic-table td  {
    width: 10rem;
}

.uneditable .table-input {
    user-select: none;  /* Prevent text selection */
    pointer-events: none; /* Disable interaction */
    color: gray;           /* Change text color */
    background-color: lightgray; 
  }

  .selectize-dropdown {
    position: absolute; /* Position it outside of normal flow */
    z-index: 9999;      /* Make sure it appears above other elements */
  }
  
  td {
    position: relative; /* The parent <td> needs to be relative for absolute child positioning */
    width: 150px;
    height: 50px;
  }